<section class="prefs">
   
  <h1 class="like">How do you like it?</h1>
  
  <!-- <button ng-click="$ctrl.begDay()">Calculate Time</button>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange" ng-model = "$ctrl.dayValue">
    </div> -->
    <div class = "explanationDay">
      How much daylight do you like? Slide the circle on the image to the right for more hours in the day, left for less hours in the day. Shown in percentage of daylight preferred. YOU PREFER: {{$ctrl.daytime}} &#37 daylight
      </div>
      <div class="img-comp-container">
        <div class="img-comp-img">
          <img src="images/star.jpg">
        </div>
        <div class="img-comp-img img-comp-overlay daytime">
          <img src="images/sky.jpg">
        </div>
      </div>
      
      <div class = "explanationTemp">
         Do you like it hotter or colder?  Slide the circle on the image to the right for warmer temperatures, left for cooler temperatures. Shown in degrees Fahrenheit. YOU PREFER: {{$ctrl.temperature}}  &#8457; 
         </div>
    <div class="img-comp-container">
      <div class="img-comp-img">
        <img src="images/cold.jpg">
      </div>
      <div class="img-comp-img img-comp-overlay temperature">
        <img src="images/hot.jpg">
      </div>
    </section>


    <section>
    
    <p>Location: {{$ctrl.userData.timezone}}</p>
    <p>Temp:{{$ctrl.userData.currently.temperature}}</p>
  
    <button id="submit" onclick="location.href= '#!/weather';">Submit your preferences</button>
    {{$ctrl.values}}
  </section>