.title {
    width: 100%;
    height: 15%; 
    text-shadow: -5px -1px 6px rgba(253, 85, 122, 0.87);
    outline-color: black;
    color: white;
    text-align: center;
}


.split {
    display: flex;
}
/* .day,
.night
{
    
{    
    width: 50%;
} */

/* SLIDER */
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 500px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  /* vertical-align: middle; */
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 50%;
}