body {
  background-image: linear-gradient(rgb(83, 24, 110), #0f270f, rgb(63, 62, 62));
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.head {
  display: none;
}

.title {
  display: flex;
  height: 100%;
  font-family: 'Courgette', cursive;
  font-size: 75px;
  text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
  color: rgb(163, 91, 196);
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -96px;
}
.titleWeather{
  display: none;
}

.label {
  display: flex;
  color: white;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding-top: 9%;
  margin-left: 13%;
  justify-content: space-around;
}

.tempOutside {
  float: left;
  margin-left: 15%;
}

.summary {
  float: right;
  margin-right: 1%;
}

.timezone {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

.like {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  color: rgb(84, 115, 218);
  text-decoration-line: underline;
  text-shadow: -3px -1px 5px rgba(114, 85, 136, 0.87);
}

.prefs {
  width: 700px;
  margin: 0 auto;
}

.explanationTemp,
.explanationDay {
  font-family: 'Raleway', sans-serif;
  text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
  color: rgb(181, 154, 194);
  text-align: center;
  font-size: 20px;
}

.userPrefDay,
.userPrefTemp {
  font-family: 'Raleway', sans-serif;
  color: rgb(80, 113, 221);
  text-align: center;
  font-size: 25px;
}

/* SLIDER */
* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 500px;

  /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;

}

.img-comp-img img {
  display: block;
  width: 800px;
  height: 500px;
  /* vertical-align: middle; */
}

.daylight {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 50%;
}

.weatherPage {
  background-image: url(images/treeCropped.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.yourPrefs {
  text-align: center;
}

.speech-bubble-match {
  font-family: 'Gamja Flower', cursive;
  background: #239b20;
  border-radius: 12em;
  content: '';
  position: absolute;
  top: 21px;
  left: 22%;
  width: 151px;
  height: 147px;
  border: 12px solid transparent;
  border-top-color: #239b20;
  color: navy;
  border-bottom: 0;
  border-left: 2;
  margin-left: 79px;
  box-shadow: -8px -6px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 132px;
}

.speech-bubble-nomatch {
  font-family: 'Gamja Flower', cursive;
  background: #9b2a20;
  color: rgb(40, 40, 125);
  border-radius: 12em;
  content: '';
  position: absolute;
  top: 50px;
  left: 24%;
  width: 129px;
  height: 119px;
  border: 12px solid transparent;
  border-top-color: #9b2a20;
  border-bottom: 0;
  border-left: 2;
  margin-left: 79px;
  box-shadow: -8px -6px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 132px;
}

.showGrant {
  position: absolute;
  text-align: center;
  top: 310px;
  left: 44%;
}

.results {
  text-align: center;
  padding-top: 34%;
  position: relative;
}

.activity {
  font-family: 'Gamja Flower', cursive;
  background: rgb(9, 9, 77);
  border-radius: 12em;
  content: '';
  position: absolute;
  top: 200px;
  right: 21%;
  width: 178px;
  height: 176px;
  border: 12px solid transparent;
  border-top-color: rgb(9, 9, 77);
  border-bottom: 0;
  border-left: 2;
  margin-right: 70px;
  box-shadow: 8px -6px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 136px;
}

.activity.ng-enter {
  transition: all 4s ease-in;
  opacity: 0;
}

.activity.ng-enter.ng-enter-active {
  opacity: 1;
}

#activity {
  margin-top: -15px;
  color: rgb(80, 113, 221);
  font-size: 18px;
}

.activityTitle {
  color: rgb(167, 8, 241);
  font-family: 'Gamja Flower', cursive,  !important;
  font-size: 15px;
}

.whatWear {
  font-family: 'Gamja Flower', cursive;
  background-color: rgb(26, 221, 169);
  color: rgb(38, 133, 221);
  border: dotted 3px red;
  border-radius: 12em;
  content: '';
  position: absolute;
  left: 61%;
  top: 9%;
  transform: rotate(5deg);
  width: 13%;
  height: 82px;
  margin-left: -0px;
  margin-block-start: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.whatWear.ng-enter {
  transition: all 7s ease-in;
  opacity: 0;
}

.whatWear.ng-enter.ng-enter-active {
  opacity: 1;
}

.recommend {
  font-family: 'Gamja Flower', cursive;
  background-color: rgb(195, 161, 131);
  color: rgb(46, 72, 138);
  border-radius: 12em;
  border: dashed 2px rgb(50, 154, 218);
  content: '';
  position: absolute;
  left: 27%;
  top: 3%;
  width: 14%;
  height: 84px;
  transform: rotate(-5deg);
  margin-left: 3px;
  margin-block-start: 15em;
  margin-block-end: 15em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.recommend.ng-enter {
  transition: all 2s ease-in;
  opacity: 0;
}

.recommend.ng-enter.ng-enter-active {
  opacity: 1;
}

.weeklyHeader {
  text-align: center;
  margin: 0;
  font-size: 25px;
  color: white;
}

.weekly {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: white;
}

.future-weekly {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#submit {
  background-color: rgb(80, 113, 221);
  color: white;
  font-family: 'Raleway', sans-serif,  !important;
  font-size: 15px;
}

.mainPage {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.locationInput {
  margin-bottom: 0;
  margin-top: -50px;
  text-align: center;
}

#submitPrefs {
  background-color: rgb(80, 113, 221);
  color: white;
  font-family: 'Raleway', sans-serif,  !important;
  font-size: 15px;
  /* display: inline-block; */
}

.footer {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: white;
}

/* tablets */
@media only screen and (max-width: 768px) {

  .head {
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
  }

  .titleWeather {
    display: flex;
    height: 100%;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
    color: rgb(163, 91, 196);
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -50px;
  }

  .title {
    display: flex;
    height: 100%;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
    color: rgb(163, 91, 196);
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -50px;
  }


  .like {
    font-size: 30px;
    text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
    color: rgb(181, 154, 194);
    text-decoration-line: underline;
  }

  .label {
    font-size: 18px;
    padding-top: 16%;
  }

  .tempOutside {
    margin-left: -4%;
  }

  .summary {
    margin-right: -10%;
  }

  .timezone {
    font-size: 18px;
  }

  .prefs {
    width: 400px;
    margin: 0 auto;
  }
  .showGrant {
    left: 39%;
  }
  .explanationTemp,
  .explanationDay {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: rgb(159, 177, 235);
    text-shadow: -3px -1px 5px rgba(114, 85, 136, 0.87);
  }

  .userPrefDay,
  .userPrefTemp {
    font-family: 'Raleway', sans-serif;
    text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
    color: rgb(181, 154, 194);
    text-align: center;
    font-size: 25px;
  }

  /* SLIDER */
  * {
    box-sizing: border-box;
  }

  .img-comp-container {
    position: relative;
    height: 300px;
  }


  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .img-comp-img img {
    display: block;
    width: 400px;
    height: 300px;
    /* vertical-align: middle; */
  }

  .daylight {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: grey;
    opacity: 0.8;
    border-radius: 50%;
  }

  .weatherPage {
    background-image: url(images/treeCropped.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
  }

  .speech-bubble-match {
    font-family: 'Gamja Flower', cursive;
    background: #239b20;
    border-radius: 12em;
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 151px;
    height: 147px;
    border: 12px solid transparent;
    border-top-color: #239b20;
    border-bottom: 0;
    border-left: 2;
    margin-left: 79px;
    box-shadow: -8px -6px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 132px;
  }

  .speech-bubble-nomatch {
    font-family: 'Gamja Flower', cursive;
    background: #9b2a20;
    border-radius: 12em;
    content: '';
    position: absolute;
    bottom: 0;
    left: 14%;
    width: 111px;
    height: 107px;
    border: 12px solid transparent;
    border-top-color: #9b2a20;
    border-bottom: 0;
    border-left: 2;
    margin-left: 79px;
    box-shadow: -8px -6px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 132px;
  }

  .results {
    text-align: center;
    padding-top: 3%;
    position: relative;
  }

  .activity {
    right: 15%;
    width: 136px;
    height: 135px;
    top: 75px;
  }

  #activity {
    font-size: 15px;
  }

  .recommend {
    left: 23%;
    top: 200%;
    width: 20%;
    height: 84px;
  }

  .activity.ng-enter {
    transition: all 3s ease-in;
    opacity: 0;
  }

  .activity.ng-enter.ng-enter-active {
    opacity: 1;
  }

  #activity {
    margin-top: -15px;
    color: rgb(80, 113, 221);
    font-size: 18px;
  }

  .activityTitle {
    color: rgb(167, 8, 241);
    font-family: 'Gamja Flower', cursive,  !important;
    font-size: 15px;
  }

  .whatWear {
    width: 19%;
    height: 76px;
    margin-left: -33px;
    margin-block-start: 1em;
    top: 50%;
  }

  .whatWear.ng-enter {
    transition: all 6s ease-in;
    opacity: 0;
  }

  .whatWear.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .future-weekly {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  .weekly {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .mainPage {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  .locationInput {
    margin-top: -13px;
    margin-bottom: 420px;
    text-align: center;
  }

  #submitPrefs,
    {
    background-color: rgb(80, 113, 221);
    color: white;
    font-family: 'Raleway', sans-serif,  !important;
    font-size: 25px;
    text-align: center;
  }

  .update {
    background-color: rgb(80, 113, 221);
    color: white;
    font-family: 'Raleway', sans-serif,  !important;
    font-size: 15px;
    text-align: center;
    width: 30%;
    margin-left: 35%;
  }

  .footer {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: white;
  }

  @media only screen and (max-width: 480px) {

    .title {
      display: flex;
      height: 100%;
      font-family: 'Courgette', cursive;
      font-size: 30px;
      text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
      color: rgb(163, 91, 196);
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -50px;
    }

    .head {
      background-image: url(images/header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100px;
    }

    .titleWeather {
      display: flex;
      height: 100%;
      font-family: 'Courgette', cursive;
      font-size: 30px;
      text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
      color: rgb(163, 91, 196);
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -50px;
    }

    #submitPrefs {
      background-color: rgb(183, 112, 206);
      font-size: 18px;
    }

    .weekly {
      flex-direction: column;
      color: black;
    }

    .locationInput {
      margin-top: 2%;
    }

    .weatherPage {
      background-image: none;
      background-repeat: no-repeat;
    }

    .weekly {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      color: white;
    }

    .future-weekly {
      display: flex;
      flex-direction: column;
      /* padding: 15px; */
    }

    .weeklyHeader {
      display: none;
    }

    .label {
      font-size: 18px;
      padding-top: 7%;
    }

    .speech-bubble-nomatch {
      left: -5%
    }
    .speech-bubble-match {
      left: -6%;
      width: 146px;
      height: 136px;
      margin-top: 30px;
    }

    canvas {
      width: 30px;
      height: 30px;
    }

    .recommend {
      left: 58%;
      top: 249%;
      width: 41%;
      height: 99px;
    }

    #activity {
      margin-top: -15px;
      color: rgb(80, 113, 221);
      font-size: 15px;
    }

    .activity {
      /* bottom: -100px; */
      right: -16%;
      width: 138px;
      height: 126px;
    }

    .whatWear {
      width: 37%;
      height: 76px;
      margin-left: -0px;
      margin-block-start: 6em;
    }

    .timezone {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .showGrant {
      top: 255px;
      left: 19%;
    }
  }
}