body {
  background-image: linear-gradient(rgb(106, 35, 139), #0f270f);
}

header {
  background: #000000 url(images/header.jpg) 100% 100% no-repeat;
  width: 100%;
  height: 200px;
}

.title {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Courgette', cursive;
  font-size: 91px;
  text-shadow: -5px -1px 10px rgba(47, 19, 70, 0.87);
  color: rgb(163, 91, 196);
  justify-content: flex-end;
  align-items: flex-end;
}

.home,
.weather {
  display: flex;
  font-size: 20px;
  color: white;
}

.like {
  text-align: center;
  font-size: 40px;
  color: white;
}

/* SLIDER */
* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 500px;
  /*should be the same height as the images*/  
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  /* vertical-align: middle; */
}

.daylight {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 50%;
}

footer{
  color: white;
}