<div class="weatherPage">

  <div class="results">
    <h3 class="timezone">
      {{$ctrl.userData.timezone}}
    </h3>

    <div class = "tempOutside"> Outside Temperature: {{$ctrl.userData.currently.temperature}} &#8457; </div>
      <div class="summary">Overview: {{$ctrl.userData.currently.summary}}      
    </div>
    
    <div class="showGrant">
      <div class="{{$ctrl.userClass}}" >{{$ctrl.matchPicText}}</div>
      <img src="{{$ctrl.matchPic}}" alt="Grant Chirpus" width="200px" height="300px">
      <div class="whatWear" ng-if = "$ctrl.showWear">
          <h3 class="whatWearTitle">What to wear today: {{$ctrl.wear}}</h3>
      </div>
    </div>

    <div class="activity" ng-if = "$ctrl.showActivity">
      <h3 class="activityTitle" >Popular Activities</h3>
      <p id = "activity">{{$ctrl.actOne}}</p>
      <p id = "activity">{{$ctrl.actTwo}}</p>
      <p id = "activity">{{$ctrl.actThree}}</p>
    </div>

      <div class = "locationInput">
      <input type="text" placeholder="Search new Location" ng-model="$ctrl.search">
      <button id="submit" ng-click="$ctrl.locationSearch($ctrl.search)">Submit Location</button>
    </div>
  </div>
    
    <div >
      <future class = "weekly"></future>
    </div>